<!DOCTYPE html>
<html lang="{{ app.session.get('locale', 'en') }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>{% block title %}Welcome!{% endblock %}</title>
	{% block stylesheets %}
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
		      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
		      crossorigin="anonymous" />
		<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/iziModal.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/iziToast.min.css') }}">
		<meta name="csrf-token" content="{{ csrf_token('_token') }}">
		{{ encore_entry_link_tags('css/app') }}
	{% endblock %}
</head>
<body class="bg-light">
	
	{# Current user id for JS #}
	<div id="currentUserData" data-current-user-id="{% if app.user %}{{ app.user.id }}{% else %}0{% endif %}"
	     class="d-none"></div>
	
	{# Main navbar #}
	{# Brand and portal navigation #}
	<nav class="navbar navbar-dark navbar-expand-md sticky-top bg-dark p-0">
		<div id="main-dropdown-btn-group" class="btn-group dropdown">
			<a href="#" class="navbar-brand col-sm-3 col-md-2 mr-0 dropdown-toggle" data-toggle="dropdown">
				Kikopolis Social
			</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="{{ path('post.index') }}">Micro Posts</a>
				<a class="dropdown-item" href="/">Portal Homepage</a>
				{% if is_granted('ROLE_MODERATOR') %}
					<div class="dropdown-divider"></div>
					<h6 class="dropdown-header">Moderator functions</h6>
					<a class="dropdown-item" href="{{ path('mod.un.approved.posts') }}">Approve New Posts</a>
					<a class="dropdown-item" href="{{ path('mod.comments.un.approved') }}">Approve New Comments</a>
					<a class="dropdown-item" href="{{ path('mod.reported.posts') }}">Review Reported Posts</a>
					<a class="dropdown-item" href="{{ path('mod.comments.reported') }}">Review Reported Comments</a>
					<a class="dropdown-item" href="{{ path('mod.posts.index') }}">Show All Posts</a>
					<a class="dropdown-item" href="{{ path('mod.comments.index') }}">Show All Comments</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{{ path('mod.index') }}">Moderator Home</a>
				{% endif %}
				{% if is_granted('ROLE_ADMINISTRATOR') %}
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{{ path('admin.users.index') }}">Manage Users</a>
				{% endif %}
			</div>
		</div>
		
		{# Navigation specific to the visited page #}
		{% if is_granted('ROLE_USER') %}
			<div class="w-100 order-1 order-md-0 border-left border-secondary">
				<ul class="navbar-nav">
					<li class="nav-item text-nowrap">
						<a href="{{ path('post.create') }}" class="nav-link">
							Add New Post
						</a>
					</li>
				</ul>
			</div>
		{% else %}
			<div class="w-100 order-1 order-md-0 border-left border-secondary">
			</div>
		{% endif %}
		
		<div class="order-2 order-md-1">
			<ul class="navbar-nav px-3">
				{% if is_granted('ROLE_USER') %}
					<li class="nav-item text-nowrap border-right border-secondary">
						<a class="nav-link" href="{{ path('notifications.index') }}">
							Notifications
							<span id="notification_count" class="badge badge-light"><i
										class="fas fa-circle-notch fa-spin"></i></span>
						</a>
					</li>
					<li class="nav-item text-nowrap">
						<a href="{{ path('profile.self') }}"
						   class="nav-link">Profile</a>
					</li>
					<li class="nav-item text-nowrap">
						<span class="nav-link">{{ app.user.fullName }}</span>
					</li>
					<li class="nav-item text-nowrap">
						<a href="{{ logout_path() }}" class="nav-link">Sign out</a>
					</li>
				{% else %}
					<li class="nav-item text-nowrap">
						<a href="{{ path('register') }}" class="nav-link">Register</a>
					</li>
					<li class="nav-item text-nowrap">
						<a href="{{ path('login') }}" class="nav-link">Sign in</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</nav>
	
	<main role="main">
		<div class="container shadow-lg">
			<div class="row py-2 mx-auto col-12">
				{{ include('base/_flash.html.twig') }}
			</div>
			<div class="row">
				<div class="col-9 mx-auto pt-1">
					{% block body %}{% endblock %}
				</div>
				<div class="col-2 mx-auto vh-100">
					{{ include('base/sidebar.html.twig') }}
				</div>
			</div>
			{{ include('base/footer.html.twig') }}
		</div>
	</main>
	
	{% block javascripts %}
		<script src="{{ asset('js/jquery.min.js') }}"></script>
		<script src="{{ asset('js/popper.min.js') }}"></script>
		<script src="{{ asset('js/bootstrap.min.js') }}"></script>
		{{ encore_entry_script_tags('js/app') }}
		{% if is_granted('ROLE_USER') %}
		<script>
			// Notifications
			let notificationSpan = document.getElementById('notification_count');
			
			function fetchNotificationCount()
			{
				fetch(
					'{{ path('notifications.fresh.count') }}',
					{ 'credentials': 'include' }
				).then(function (response) {
					response.json().then(function (json) {
						notificationSpan.innerText = json.count;
						if (json.count > 0)
						{
							notificationSpan.classList.remove('badge-light');
							notificationSpan.classList.add('badge-primary');
						}
						else if (json.count === 0)
						{
							notificationSpan.classList.value = 'badge badge-light';
						}
						setTimeout(fetchNotificationCount, 15000);
					});
				}).catch(function (err) {
				});
			}
			
			// Fetch the notifications and process them.
			fetchNotificationCount();
		</script>
		{% endif %}
	{% endblock %}
</body>
</html>
