<footer class="pt-4 pb-2 row mx-auto shadow col-12 bg-secondary">
	<div class="col-12">
		<p class="text-center text-white-50">© 2019-{{ "now"|date("Y") }}
			<a class="text-decoration-none text-light" href="http://kikopolis.tech" target="_blank">kikopolis.tech</a> Web Solutions</p>
	</div>
	<div class="col-12">
		<a class="btn btn-sm btn-light" href="{{ path('homepage') }}">Website home</a>
		<a class="btn btn-sm btn-light" href="{{ path('terms.and.conditions') }}">Terms and conditions</a>
		<a class="btn btn-sm btn-light" href="{{ path('contact') }}">Contact</a>
		<a class="btn btn-sm btn-light" href="{{ path('support') }}">Support</a>
		<a class="btn btn-sm btn-light" href="{{ path('gdpr') }}">Privacy</a>
	</div>
</footer>